.center {
    margin: auto;
}

.contains-text {
    font-size: x-large;
}

.input-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

#title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#input {
    font-weight: bold;
    font-size: x-large;
    float: left;
    margin-bottom: 5px;
}

#map {
    height: 83vh;
}

#coords-div {
    padding: 0px;
    width: 98%;
}

#coords {
    width: 100%;
    align-self: center;
    text-align: center;
}

#res {
    width: 100%;
    font-size: x-large;
    align-self: center;
    text-align: center;
}

header {
    color: white;
    font-size: 38px;
    height: 15vh
  }
