<!DOCTYPE html>
<!--
    NOTE: see Aapo's design in the design document.
    Ignore the entire hamburger menu and username thing.
    Main focus right now is getting the main page layout as designed

    DO NOT change the 'id' attribute of elements as they are required for the js script to work
    DO NOT change the 'src' attribute of 'script' element or the 'script' element itself
    All elements are otherwise free to be changed if you find other elements that work better to achieve the desired design,
    just make sure you restore the id attribute to where appropriate.

    Stick with Bootstrap for css library, don't be bothered with other stuff you might come across

    And ofc, ask if you need to, my knowledge with css is limited hence I'm pushing this off to you guys but I'll help where I can
    Also read documentations, there are tons on top of tons of it, both for Bootstrap and for general css.
    Mozilla's documentation is a very good source for all things webdev related, and w3school or geekforgeek are also solid ones,
    as well as many others
-->
<html lang="en">

    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Industrial Training Group 1 Project</title>

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

        <!-- Not needed anymore as leaflet provides a distance function -->
        <!-- <script src="{{ url_for('static', filename='js/haversine.js') }}"></script> -->
        <script src="{{ url_for('static', filename='js/map.js') }}"></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>

    <body class="container-fluid text-center bg-primary-subtle">
        
        <div id="coords-div" class="row">
            <table id="coords" class="contains-text">
                <tr>
                    <td>
                        <label for="location1"class="badge text-bg-primary text-wrap" style="width: 16rem;">LOCATION 1 INPUT:</label>
                        <!--<input type="number" id="lat1" class="contains-text"><br>-->
                    </td>
                    
                    <td>
                        <label for="location1"class="badge text-bg-primary text-wrap" style="width: 16rem;">LOCATION 2 INPUT:</label>
                        <!--<input type="number" id="lat1" class="contains-text"><br>-->
                    </td>
                    <td rowspan="3">
                        <input type="button" value="Calculate" id="calcBtn" class="contains-text"><br>
                    </td>
                </tr>    
                <tr>
                    
                    <td>
                        <label for="lat1"class="badge text-bg-secondary text-wrap" style="width: 8rem;">LATITUDE</label>
                        <input type="number" id="lat1" class="contains-text"><br>
                    </td>
                    
                    <td>
                        <label for="lat2"class="badge text-bg-secondary text-wrap" style="width: 8rem;">LATITUDE</label>
                        <input type="number" id="lat2" class="contains-text"><br>
                    </td>
                    
                </tr>
                <tr>
                    
                    <td>
                        <label for="lng1"class="badge text-bg-secondary text-wrap" style="width: 8rem;">LONGITUDE</label>
                        <input type="number" id="lng1" class="contains-text"><br>
                    </td>
                    <td>
                        <label for="lng2"class="badge text-bg-secondary text-wrap" style="width: 8rem;">LONGITUDE</label>
                        <input type="number" id="lng2" class="contains-text"><br>
                    </td>
                    
                </tr>

            </table>
        </div>

        <!-- Where map goes -->
        <div id="map" class="row"></div>

        <!-- Calculation result -->
        <div class="row">
            <p id="res" rowspan="2" class="badge text-bg-warning text-wrap"></p>
        </div>
    </body>

</html>